body {
  margin: 0;
background-color: #10e7dc;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
#text{
  width: 300px;
  height: 30px;
  margin: auto;
  padding: 0;
}

h1, h2, p{
  color: #0074e1;
}
h1{
text-align: center;
}

h2{
  text-align: center;
}

p{
text-align: center;
font-weight: bold;
font-size: 20px;
}
