body {
  margin: 0;
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #00a0a6;

}

#text{
  width: 300px;
  height: 30px;
  margin: auto;
  padding: 0;
  font-size: 30px;
}

.container {
  margin: auto;
  max-width: 500px;
  height: 400px;
}

.alert{
font-size: 25px;
font-family: 'Press Start 2P', cursive;
color: #e46d14;
text-shadow: 2px 2px #000;
}

.word{
  margin: 50px;
  color: #000;
}

.guess{
  margin: 20px;
}
input{
  height: 25px;
  width: 80px;
background-color: #ADFF2F;
}
.input-button{
  border-radius: 20%;
  background-color: #ADFF2F;
  height: 30px;
  width: 60px;
}
button{
  border-radius: 20%;
  background-color: #ADFF2F;
  height: 40px;
  width: 150px;
  font-size: 18px;
}
h1, h2, h3, p{
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1{
text-align: center;
font-family: 'Press Start 2P', cursive;
font-size: 70px;
}

h2{
  text-align: center;
}

h3 {
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  text-shadow: 2px 2px #000;
}

p{
text-align: center;
font-weight: bold;
font-size: 20px;
}
